<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BISuitServiceDefineSection" type="FlyEnter.BISuit.BizLogic.ServiceManagement.BISuitServiceDefineSection" />
  </configSections>
  <connectionStrings>
    <add name="FE_BISuit_SupportDBConnectionSet" connectionString="Data Source=.;Initial Catalog=FlyEnter.BISuit.C3;User ID=sa;Password=abc;" />
    <add name="FE_BISuit_LogDBConnectionSet" connectionString="Data Source=.;Initial Catalog=FlyEnter_BISuit_LOG;User ID=sa;Password=abc;" />
  </connectionStrings>
  <appSettings>
    <add key="Default_Suffix" value=".xlsx" />
    <add key="Default_Working_Folder" value="WorkingFolder" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <BISuitServiceDefineSection>
    <ServiceProviderConfig>
      <add TaskCategory="CreateWorkingDB" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="CreateDBLinkServer" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="CreateSQLScript" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="CreateSysPreSQLScript" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="CreateTable" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="GrantAccess" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="ExecSQL" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="DispatchToFileCopy" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="DispatchToWX" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="DispatchToDB" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="FetchDB" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="FetchShareFolder" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="ReviseParameter" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="LogicSwitch" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="SendEmail" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="GenerateExcel" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
      <add TaskCategory="SYS_CaseClean" ServiceCategory="DataFlowService" ServiceInvokeURL="ServiceAdapter.svc" InvokeMethod="WCF" />
    </ServiceProviderConfig>
  </BISuitServiceDefineSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 67F53D31-DC71-499F-9F01-6F07035BBCF6-->